# Predicciones con Clustering

In [1]:
#Importaciones
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
#Lectura de datos
datosGeneracion = pd.read_excel("../Datasets/Información Planta Solar Estacionaria.xlsx")
datosGeneracion.head(4)

,Fecha,Anio,Mes,NumMes,NumSemana,NumDiaAnio,Dia,NumDia,Hora,NumHora,...,Generacion_diff,Temperatura_diff,ProbabilidadLluvia_diff,HumedadRelativa_diff,VelocidadViento_diff,DireccionViento_diff,IndiceUV_diff,VelocidadRafaga_diff,Precipitacion_diff,DPT_diff
0,2021-07-01 00:00:00,2021,199,7,27,180,6026,1,144600,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-07-01 01:00:00,2021,199,7,27,180,6026,1,144601,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-07-01 02:00:00,2021,199,7,27,180,6026,1,144602,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-01 03:00:00,2021,199,7,27,180,6026,1,144603,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
datosGeneracion_sel = datosGeneracion.copy()
datosGeneracion_sel = datosGeneracion_sel.drop(columns = ['Fecha', 'DesCondCielo', 'DesDirViento'])

In [4]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(datosGeneracion_sel)
datosGeneracion_scaled = pd.DataFrame(scaled, columns = datosGeneracion_sel.columns, index=datosGeneracion_sel.index)
datosGeneracion_scaled.head(4)

,Anio,Mes,NumMes,NumSemana,NumDiaAnio,Dia,NumDia,Hora,NumHora,Generacion,...,Generacion_diff,Temperatura_diff,ProbabilidadLluvia_diff,HumedadRelativa_diff,VelocidadViento_diff,DireccionViento_diff,IndiceUV_diff,VelocidadRafaga_diff,Precipitacion_diff,DPT_diff
0,0.0,0.0,0.545455,0.5,0.5,0.0,0.0,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.545455,0.5,0.5,0.0,0.0,0.000053,0.043478,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.545455,0.5,0.5,0.0,0.0,0.000105,0.086957,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.545455,0.5,0.5,0.0,0.0,0.000158,0.130435,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
datosGeneracion_dropna = datosGeneracion_scaled.dropna()
datosGeneracion_dropna.head(4)

,Anio,Mes,NumMes,NumSemana,NumDiaAnio,Dia,NumDia,Hora,NumHora,Generacion,...,Generacion_diff,Temperatura_diff,ProbabilidadLluvia_diff,HumedadRelativa_diff,VelocidadViento_diff,DireccionViento_diff,IndiceUV_diff,VelocidadRafaga_diff,Precipitacion_diff,DPT_diff
24,0.0,0.0,0.545455,0.5,0.502778,0.001264,0.033333,0.001263,0.000000,0.0,...,0.500199,0.447368,0.527950,0.500000,0.559045,0.494949,0.444444,0.494208,0.563265,0.507246
25,0.0,0.0,0.545455,0.5,0.502778,0.001264,0.033333,0.001315,0.043478,0.0,...,0.500199,0.473684,0.552795,0.494048,0.584171,0.494949,0.444444,0.494208,0.563265,0.507246
26,0.0,0.0,0.545455,0.5,0.502778,0.001264,0.033333,0.001368,0.086957,0.0,...,0.500199,0.473684,0.534161,0.505952,0.559045,0.494949,0.444444,0.494208,0.563265,0.507246
27,0.0,0.0,0.545455,0.5,0.502778,0.001264,0.033333,0.001420,0.130435,0.0,...,0.500199,0.447368,0.503106,0.500000,0.584171,0.494949,0.444444,0.494208,0.563265,0.492754

In [6]:
y = datosGeneracion_dropna[['Generacion_diff']]
x = datosGeneracion_dropna[['NumSemana', 'NumDiaAnio', 'Hora','Temperatura_diff', 'ProbabilidadLluvia_diff',
                                 'HumedadRelativa_diff', 'VelocidadViento_diff', 'DireccionViento_diff', 'CoberturaNubes',
                                 'IndiceUV_diff', 'CodCondCielo', 'CodDirViento', 'VelocidadRafaga_diff', 'Precipitacion_diff',
                                 'DPT_diff']]

In [17]:
from tqdm import tqdm
import multiprocessing
from timeit import default_timer as timer
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor
from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import train_test_split

In [24]:
base = 7200
periodo = 2400
n_jobs = multiprocessing.cpu_count()
n_estimadores = range(8)
try:
    results = pd.read_csv('./Resultados_scoring30.csv', index_col = 0)
except:
    results = {
        'ts' : [],
        'ne' : [],
        'mf' : [],
        'score' : [],
        'mae' : [],
        'time' : []
    }

    for r in range(30):
        for ts in [.1, .2, .3, .4]:
            datosGeneracion_train = datosGeneracion_dropna.sample(frac = 1-ts)
            y_train = datosGeneracion_train[['Generacion_diff']]
            x_train = datosGeneracion_train[['NumSemana', 'NumDiaAnio', 'Hora', 'ProbabilidadLluvia_diff',
                                                'CoberturaNubes', 'CodDirViento', 'DPT_diff', 'VelocidadViento_diff',
                                                'Temperatura_diff', 'IndiceUV_diff', 'CodCondCielo']]
            datosGeneracion_test = datosGeneracion_dropna.drop(datosGeneracion_train.index)
            y_test = datosGeneracion_test[['Generacion_diff']]
            x_test = datosGeneracion_test[['NumSemana', 'NumDiaAnio', 'Hora', 'ProbabilidadLluvia_diff',
                                            'CoberturaNubes', 'CodDirViento', 'DPT_diff', 'VelocidadViento_diff',
                                            'Temperatura_diff', 'IndiceUV_diff', 'CodCondCielo']]
            for ne in n_estimadores:
                for mf in ['sqrt', 'log2', None]:
                    start = timer()
                    model = RandomForestRegressor(n_estimators= 2 ** ne, max_features=mf, n_jobs=n_jobs)
                    model.fit(x_train, y_train)
                    pred = model.predict(x_test)
                    end = timer()
                    results['ts'].append(ts)
                    results['ne'].append(ne)
                    results['mf'].append(mf)
                    results['score'].append(model.score(x_test, y_test))
                    results['mae'].append(mae(y_test, pred))
                    results['time'].append(end - start)
    df_results = pd.DataFrame(results)
    df_results.to_csv('./Resultados_scoring30.csv')

In [25]:
df_results.sort_values('score', ascending=False)

       ts  ne    mf     score       mae      time
307   0.1   6  log2  0.445266  0.035155  2.912487
501   0.1   7  sqrt  0.439307  0.037072  6.760885
502   0.1   7  log2  0.438938  0.037036  6.760659
498   0.1   6  sqrt  0.438254  0.037656  2.855421
499   0.1   6  log2  0.438007  0.037646  2.806468
...   ...  ..   ...       ...       ...       ...
169   0.4   0  log2 -0.596855  0.057101  0.095417
74    0.4   0  None -0.600579  0.057598  0.234730
2738  0.3   0  None -0.604786  0.055753  0.260437
1681  0.3   0  log2 -0.609216  0.056984  0.093610
1322  0.4   0  None -0.617547  0.057718  0.248984

[2880 rows x 6 columns]

In [10]:
def cross_validation_score(model, cv, metric):
    try:
        df_results_ed = pd.read_csv('./Resultados_scoring.csv', index_col = 0)
    except:
        results_ed = {
                    'model' : [],
                    'score' : [],
                    'mae' : [],
                    'time' : []
            }
        for i in tqdm(range(30)):
            for x_train, x_test, y_train, y_test in cv:
                start = timer()
                model.fit(x_train, y_train)
                y_pred = model.predict(x_test)
                score = metric(y_test, y_pred)
                end = timer()
                results_ed['model'].append('Bagging')
                results_ed['mae'].append(mae(y_test, y_pred))
                results_ed['score'].append(model.score(x_test, y_test))
                results_ed['time'].append(end - start)
                df_results_ed = pd.DataFrame(results_ed)
                df_results_ed.to_csv('./Resultados_modelos_Tarea06.csv')
    return df_results_ed

In [11]:
def sliding_window(x, y, window_size, horizon):
    for i in range(len(x)-window_size+horizon+1):
        x_split_train = x[i:window_size+i]
        x_split_test = x[i+window_size:window_size+i+horizon]
        y_split_train = y[i:window_size+i]
        y_split_test = y[i+window_size:window_size+i+horizon]
        yield x_split_train, x_split_test, y_split_train, y_split_test

In [12]:

cv_sliding = sliding_window(x.loc[1:3000], y.loc[1:3000], window_size=720, horizon=240)

In [13]:


cv_scores_1 = cross_validation_score(model=BaggingRegressor(n_jobs=n_jobs),
                                     cv=cv_sliding,
                                     metric=mae)
cv_scores_1

,TrainDesde,TrainHasta,TestDesde,TestHasta,ne,mf,score,mae,time
0,0,7200,7200,9600,0,sqrt,-1.605182,0.076655,0.166692
1,0,7200,7200,9600,0,log2,-0.963407,0.065971,0.118510
2,0,7200,7200,9600,1,sqrt,-0.423869,0.061621,0.109491
3,0,7200,7200,9600,1,log2,-0.374837,0.060353,0.242640
4,0,7200,7200,9600,2,sqrt,-1.163572,0.098682,0.241467
...,...,...,...,...,...,...,...,...,...
347,5040,12240,12240,14640,5,log2,-0.036361,0.047760,0.971960
348,5040,12240,12240,14640,6,sqrt,0.054893,0.043741,1.923228
349,5040,12240,12240,14640,6,log2,0.047663,0.043584,1.970722
350,5040,12240,12240,14640,7,sqrt,0.032244,0.044507,4.025084
351,5040,12240,12240,14640,7,log2,0.007631,0.046434,3.968560